<header>
    <nav class="flex justify-between items-center px-12 py-4">
        <div class="flex items-end select-none cursor-pointer">
            <span class="text-3xl font-extrabold text-purple-700 transform -skew-x-12">Apoia</span>
            <span class="text-3xl font-extrabold text-black">.</span>
            <span class="text-md text-black font-semibold transform -skew-x-12">aqui</span>
        </div>
        <div class="hidden text-gray-600 md:flex gap-4">
            <p class="cursor-pointer transition-colors duration-300 hover:text-black">Quem Somos</p>
            <p class="cursor-pointer transition-colors duration-300 hover:text-black">Como Funciona</p>
        </div>
        <div class="flex items-center font-bold gap-4">
            <a class="cursor-pointer">Entrar</a>
            <a class="text-white bg-purple-700 px-4 py-2 rounded-lg cursor-pointer">Começar</a>
        </div>
    </nav>
</header>
