<div class="flex flex-col min-h-screen bg-white">
  <app-header />
  
  <main class="flex-1 container mx-auto py-8 px-4">
    <div class="mb-8">
      <h1 class="text-4xl font-bold mb-2 text-gray-900">
        Olá, {{user()!.name}}
      </h1>
      <p class="text-gray-600">
        Gerencie suas campanhas e acompanhe seu impacto
      </p>
    </div>

    @if (stats()) {
    <div class="grid sm:grid-cols-3 gap-4 mb-8">
      <div class="card p-6 border border-purple-200 hover:border-purple-400 transition rounded-2xl">
        <p class="text-sm text-gray-600">Campanhas Ativas</p>
        <p class="text-3xl font-bold text-purple-600 mt-2">{{stats()!.campaigns}}</p>
      </div>

      <div class="card p-6 border border-purple-200 hover:border-purple-400 transition rounded-2xl">
      <p class="text-sm text-gray-600">Total Arrecadado</p>
      <p class="text-3xl font-bold text-purple-600 mt-2">R$ {{ stats()!.totalCollection }}</p>
      </div>

      <div class="card p-6 border border-purple-200 hover:border-purple-400 transition rounded-2xl">
      <p class="text-sm text-gray-600">Total de Apoiadores</p>
      <p class="text-3xl font-bold text-purple-600 mt-2">{{ stats()!.donations }}</p>
      </div>
    </div>
    }
    
    @if (userCampaigns().length > 0) {
      <section class="mb-12">
        <h2 class="text-2xl font-bold mb-6 text-gray-900">Minhas Campanhas</h2>

        <div class="grid grid-cols-4 gap-4 ">
          @for (c of userCampaigns(); track c.id) {
              <campaign-card
                [campaign]="c"
                [showActions]="true"
                (delete)="deleteCampaign($event)"
              />
          }
        </div>
      </section>
      
    } @else {
      <div class="card py-12 text-center border border-purple-200">
      <h3 class="text-lg font-medium mb-2 text-gray-900">
        Nenhuma campanha ainda
      </h3>
      <p class="text-gray-600 mb-6">
        Crie sua primeira campanha e comece a arrecadar!
      </p>
      <a [routerLink]="['/campaign/new']" class="bg-purple-600 text-white font-semibold px-8 py-3 rounded-lg hover:bg-purple-700 transition">
        Criar Campanha
      </a>
      </div>
    }

    <section class="flex flex-col bg-white w-full">
          <div class="flex items-center justify-between w-full">
              <div class="flex flex-col items-start">
                  <h1 class="text-3xl lg:text-4xl font-bold">Campanhas em Destaque</h1>
                  <p class="text-gray-600 ">Descubra causas incriveis que precisam do seu apoio</p>
              </div>
              <div>
                  <a routerLink="/explore" class="border rounded-xl border-gray-300 px-6 py-2 hover:text-white hover:bg-purple-700 transition-colors duration-300">
                      Ver Todas
                  </a>
              </div>
          </div>

          <div class="flex items-center justify-center gap-12 mt-10">
              @for (c of campaigns(); track c.id) {
                  <campaign-card
                  class="w-full"
                  [campaign]="c"
                  />
              }
          </div>
    </section>

  </main>
</div>
