<app-header></app-header>

<section class="min-h-screen bg-gray-50 px-4 py-6 flex flex-col items-center">
<div class="text-center mb-4 px-4 py-2 max-w-3xl">
  <h1 class="text-3xl md:text-4xl font-extrabold text-gray-800 mb-2">
    {{ titulo }}
  </h1>

  <p class="text-gray-600 text-sm md:text-base">
    {{ autor }}
  </p>
</div>


<div class="flex flex-col md:flex-row items-start justify-center gap-8 w-full max-w-5xl">
  
  <img 
    [src]="imagem" 
    alt="Imagem da campanha" 
    class="w-full md:w-5/12 rounded-lg shadow-md"
  />

  <div class="flex flex-col justify-start gap-4 w-full md:w-5/12 border-2 border-purple-300 rounded-xl bg-white p-4 shadow-lg">

        <a 
      [href]="'https://' + urlCampanha" 
      target="_blank"
      class="inline-block bg-purple-100 text-purple-700 font-semibold px-4 py-2 rounded-lg hover:bg-purple-200 transition text-center w-full"
    >
      {{ urlCampanha }}
    </a>

    <button 
      (click)="compartilhar()" 
      class="bg-purple-700 hover:bg-purple-800 text-white py-3 px-6 rounded-lg font-bold transition w-full"
    >
      Compartilhar
    </button>
    
    <div class="flex gap-4">
      <button (click)="doar()" class="bg-green-600 hover:bg-green-700 text-white py-3 px-6 rounded-lg font-bold transition w-1/2">
        Doar
      </button>
      <button (click)="denunciar()" class="bg-red-600 hover:bg-red-700 text-white py-3 px-6 rounded-lg font-bold transition w-1/2">
        Denunciar
      </button>
    </div>

  </div>

</div>


<div class="flex flex-col md:flex-row justify-center gap-6 mb-8 w-full max-w-4xl mt-12">
  <div class="flex-1 bg-white rounded-xl shadow-md p-6 flex flex-col items-center">
    <p class="font-extrabold text-purple-700 text-2xl md:text-3xl">{{ mensagens }}</p>
    <p class="text-gray-500 text-sm md:text-base">Mensagens</p>
  </div>

  <div class="flex-1 bg-white rounded-xl shadow-md p-6 flex flex-col items-center">
    <p class="font-extrabold text-purple-700 text-2xl md:text-3xl">{{ doadores }}</p>
    <p class="text-gray-500 text-sm md:text-base">Doadores</p>
  </div>

  <div class="flex-1 bg-white rounded-xl shadow-md p-6 flex flex-col items-center">
    <p class="font-extrabold text-purple-700 text-2xl md:text-3xl">R$ {{ valorArrecadado | number:'1.2-2' }}</p>
    <p class="text-gray-500 text-sm md:text-base">Arrecadado</p>
  </div>
</div>


  <div class="w-full max-w-4xl mb-6">
    <p class="text-gray-700 mb-2 text-sm md:text-base">Meta: R$ {{ meta | number:'1.2-2' }} · {{ percentual }}%</p>
    <div class="w-full bg-gray-200 h-4 rounded-full">
      <div class="bg-purple-700 h-4 rounded-full" [style.width.%]="percentual"></div>
    </div>
  </div>

    <h2 class="text-2xl md:text-3xl font-bold text-gray-800 mb-2">Sobre esta Campanha</h2>

  <div class="w-full max-w-4xl mb-8 px-4 py-6 border-2 border-purple-300 rounded-xl bg-white shadow-sm">
    <p class="text-gray-700 text-sm md:text-base whitespace-pre-line leading-relaxed">
      {{ sobre }}
    </p>
  </div>


</section>
