<div class="min-h-screen flex items-center justify-center bg-gray-100 px-4">

  <div class="w-full max-w-md bg-white shadow-xl rounded-2xl p-8">

    <div class="flex justify-center mb-6 select-none cursor-pointer">
      <span class="text-4xl font-extrabold text-purple-700 transform -skew-x-12">Apoia</span>
      <span class="text-4xl font-extrabold text-black">.</span>
      <span class="text-xl text-black font-semibold transform -skew-x-12">aqui</span>
    </div>

    <h2 class="text-2xl font-extrabold text-center mb-6 text-gray-800">
      Entrar na sua conta
    </h2>

    <form [formGroup]="form" (ngSubmit)="enviar()" class="flex flex-col gap-4">

      <div>
        <label class="text-gray-700 font-semibold">Email</label>
        <input
          type="email"
          formControlName="email"
          class="w-full mt-1 px-4 py-2 border rounded-lg
                 focus:outline-none focus:ring-2 focus:ring-purple-600"
          placeholder="Seu email"
        />

        @if (email?.invalid && email?.touched) {
  <p class="text-red-600 text-sm mt-1">Informe um email válido.</p>
}
      </div>

      <div>
        <label class="text-gray-700 font-semibold">Senha</label>
        <input
          type="password"
          formControlName="senha"
          class="w-full mt-1 px-4 py-2 border rounded-lg
                 focus:outline-none focus:ring-2 focus:ring-purple-600"
          placeholder="Sua senha"
        />

        @if (senha?.invalid && senha?.touched) {
  <p class="text-red-600 text-sm mt-1">A senha é obrigatória.</p>
}
      </div>

      <button
        type="submit"
        [disabled]="form.invalid"
        class="w-full bg-purple-700 hover:bg-purple-800 disabled:bg-purple-400 
               text-white py-2 rounded-lg font-bold mt-4 transition">
        Entrar
      </button>

    </form>

    <p class="text-center text-gray-600 mt-4">
      Não tem conta?
      <a
        class="text-purple-700 font-semibold hover:underline cursor-pointer"
        (click)="irParaRegistro()"
      >
        Criar conta
      </a>
    </p>

  </div>
</div>
