<div class="min-h-screen flex flex-col bg-muted/30">
    <app-header />
    
    <div class="px-4 pt-4">
        <button (click)="back()" class="flex items-center gap-2 text-purple-600 font-semibold hover:underline">
            ← Voltar
        </button>
    </div>

    @if (campaign()) {
    <main class="flex-1 px-12 py-8">

        <div class="grid lg:grid-cols-3 gap-8">
            <div class="lg:col-span-2 space-y-6">
                <div class="aspect-video rounded-2xl overflow-hidden">
                    <div class="w-full h-full bg-purple-300 animate-pulse flex items-center justify-center text-gray-800">
                        {{campaign()!.title}}
                    </div>
                </div>

                <div class="flex items-start justify-between gap-4">
                    <div>
                        <h1 class="text-3xl font-bold">
                            {{campaign()!.title}}
                        </h1>
                    </div>
                </div>

                <div class="flex items-center gap-2 text-sm text-muted-foreground">
                    <div class="flex items-center gap-2">
                        <div class="w-8 h-8 rounded-full bg-primary text-white flex items-center justify-center font-medium  bg-purple-700">
                            {{campaign()!.ownerName.charAt(0)}}
                        </div>
                        <span>{{campaign()!.ownerName}}</span>
                    </div>

                    <span>•</span>

                    <div class="flex items-center gap-1">
                        <span>Criada em {{formattedDate()}}</span>
                    </div>
                </div>

                <div class="border border-gray-400 rounded-xl bg-background">
                    <div class="p-6">
                        <h2 class="text-xl font-semibold mb-4">
                            Sobre a campanha
                        </h2>
                        <p class="text-gray-600 whitespace-pre-wrap">
                            {{campaign()!.description}}
                        </p>
                    </div>
                </div>
            </div>

            <div class="lg:col-span-1">
                <div class="border border-gray-400 rounded-xl sticky top-24">
                    <div class="p-6 space-y-6">
                        <div class="space-y-3">
                            <div class="flex items-end justify-between">
                                <div>
                                    <p class="text-3xl text-purple-600 font-bold text-primary">
                                        R$ {{campaign()!.raised}}
                                    </p>
                                    <p class="text-sm text-muted-foreground">
                                        arrecadados de R$ {{campaign()!.goal}}
                                    </p>
                                </div>
                                <p class="text-lg font-semibold">{{percentage()}}%</p>
                            </div>

                            <div class="w-full h-3 bg-muted rounded-full overflow-hidden">
                                <div class="h-full bg-purple-700" [style.width.%]="percentage()"></div>
                            </div>
                        </div>

                        <div class="flex items-center justify-between py-4 border-t border-b border-gray-300">
                            <div class="flex items-center gap-2">
                                <span class="font-semibold">132</span>
                                <span class="text-muted-foreground">apoiadores</span>
                            </div>
                        </div>

                        <button class="w-full text-lg py-6 rounded-md text-white bg-purple-700 hover:opacity-90 transition-colors duration-300">
                            Apoiar esta campanha
                        </button>

                        <p class="text-xs text-center text-muted-foreground">
                            Ao apoiar, você concorda com os termos de uso
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    } @else {
        <div class="flex items-center justify-center flex-1">
            <h1 class="font-bold text-2xl text-purple-600">Não encontrado</h1>
        </div>
    }
</div>
